<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lendmark">

    <!-- 네트워크 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 위치(정밀 권장) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- ✅ Kakao Vector Map은 OpenGL ES 3.0+ 필요 -->
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />

    <application
        android:name="com.example.lendmark.ui.main.MyApp"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lendmark">

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Lendmark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="false"
            android:theme="@style/Theme.Lendmark" />




        <activity
            android:name=".ui.chatbot.ChatBotActivity"
            android:exported="false"
            android:theme="@style/Theme.Lendmark" />

        <!-- ❌ (권장) 지도 v2에서는 불필요하므로 제거
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_native_app_key" />
        -->
    </application>
</manifest>
